<h1>List all Blog Post</h1>
<ul>
    <% @articles.each do |article| %>
    <li>
        <h2><%= link_to article.title, article_path(article) %></h2>
        <div><%= article.text %></div>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'are you sure ?' } %>
    </li>
    <% end %>
</ul>
<%= link_to 'Add New', new_article_path, class: 'jeje', data: { name: 'hehe' } %>